<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MVC Blog</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    </head>
    <body>
        <header>
            <h1>Welcome To My MVC Tech Blog</h1>
        </header>
        <nav>
            <a>HOME</a>
            {{#if logged_in}}
            <button id="login">LOGIN</button>
            {{else}}
            <button id="logout">LOGOUT</button>
            {{/if}}
        </nav>
        <main>
            <h2>Lastest Post</h2>
            <div id="newest_post">
                PostPlaceHolder
            </div>
        </main>

    </body>

</html>